<h1><%=@user_name.capitalize%></h1>
<ul>
  <li>Email: <%=@email%></li>
  <li>Interests: <%=@interests%></li>
</ul>
<p></p>
<% @other_users.each do |name| %>
  <a href="<%=name%>"><%=name.capitalize%></a>&nbsp
<% end %>
